.bg{
    width: 100%;
                       min-height: 100vh;
    background-color: hsl(0, 100%, 74%);
    background-image: url(../../intro-component-with-signup-form-master/images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wrapper{
    width: 90%;
    margin: 0 auto;
  }

  .relleno{
    height: 5rem;
  }