<app-offer></app-offer>

<form class="form" [formGroup]="formLogin">

    <!-- *************** Name *************** -->

    <div class="form__inputContainer">
        <input class="form__input" type="text" name="name" placeholder="First Name" formControlName="firstName"/>

        <div class="form__icon" *ngIf="formLogin.controls.firstName.errors && formLogin.controls.firstName.dirty">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#FF7979" cx="12" cy="12" r="12"/><rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/><rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/></g></svg>
        </div>

    </div>


    <div class="form__input--errorMessage">

        <p *ngIf="formLogin.controls.firstName.errors && formLogin.controls.firstName.dirty">
            First Name is required
        </p>

        <p *ngIf="formLogin.controls.firstName.errors && formLogin.controls.firstName.dirty">
            First Name must be at least 3 characters long
        </p>

        <p *ngIf="formLogin.controls.firstName.errors && formLogin.controls.firstName.dirty">
            First Name cannot be more than 10 characters long
        </p>

    </div>

    <!-- *************** Last Name *************** -->

    <div class="form__inputContainer">
            <input class="form__input" type="text" name="lastName" placeholder="Last Name" formControlName="lastName"/>

        <div class="form__icon" *ngIf="formLogin.controls.lastName.errors && formLogin.controls.lastName.dirty">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#FF7979" cx="12" cy="12" r="12"/><rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/><rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/></g></svg>
        </div>

    </div>

    <div class="form__input--errorMessage">

        <p *ngIf="formLogin.controls.lastName.errors && formLogin.controls.lastName.dirty">
            Last Name is required
        </p>

        <p *ngIf="formLogin.controls.lastName.errors && formLogin.controls.lastName.dirty">
            Last Name must be at least 3 characters long
        </p>

        <p *ngIf="formLogin.controls.lastName.errors && formLogin.controls.lastName.dirty">
            Last Name cannot be more than 10 characters long
        </p>

    </div>

    <!-- *************** Email *************** -->

    <div class="form__inputContainer">

        <input class="form__input" type="email" name="email" placeholder="Email Address" formControlName="email"/>

        <div class="form__icon" *ngIf="formLogin.controls.email.errors && formLogin.controls.email.dirty">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#FF7979" cx="12" cy="12" r="12"/><rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/><rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/></g></svg>
        </div>

    </div>

    <div class="form__input--errorMessage">

        <p *ngIf="formLogin.controls.email.errors && formLogin.controls.email.dirty">
            Email is required
        </p>

        <p *ngIf="formLogin.controls.email.errors && formLogin.controls.email.dirty">
            Email must be a valid email
        </p>

    </div>

    <!-- *************** Password *************** -->

    <div class="form__inputContainer">
        <input class="form__input" type="password" name="name" placeholder="Password" formControlName="password"/>


        <div class="form__icon" *ngIf="formLogin.controls.password.errors && formLogin.controls.password.dirty">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><circle fill="#FF7979" cx="12" cy="12" r="12"/><rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/><rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/></g></svg>
        </div>

    </div>

    <div class="form__input--errorMessage">

        <p *ngIf="formLogin.controls.password.errors && formLogin.controls.password.dirty">
            Password is required
        </p>

        <p *ngIf="formLogin.controls.password.errors && formLogin.controls.password.dirty">
            Password must be at least 6 characters long
        </p>

        <p *ngIf="formLogin.controls.password.errors && formLogin.controls.password.dirty">
            Password cannot be more than 10 characters long
        </p>

    </div>

    <!-- *************** Btn *************** -->

    <input class="form__input--btn" type="button" value="claim your free trial" (click)="send()" [disabled]="formLogin.invalid"/>

    <p class="form__description">
        By clicking the button, you are agreeing to our
        <a href="#" class="form__description--anchor">Terms and Services</a>
    </p>

</form>