<form class="form">

    <input class="form__input" type="text" name="name" placeholder="name" />

    <input class="form__input" type="text" name="lastName" placeholder="Last Name" />

    <input class="form__input" type="email" name="email" placeholder="Email Address" />

    <input class="form__input" type="password" name="name" placeholder="Password" />

    <input class="form__input--btn" type="button" value="claim your free trial" />

    <p class="form__description">
        By clicking the button, you are agreeing to our
        <a href="#" class="form__description--anchor">Terms and Services</a>
    </p>

</form>