@import '../../shared/styles/colors';
@import '../../shared/styles/flex';
@import '../../shared/styles/mediaQuery';

.form{
    background-color: $White;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.6rem rgba($Dark-Blue, 0.2);

    @include flex();
    padding: 2rem;

    @include responsive(desktop){
        width: 80%;
        margin: 0 auto;
    }

    &__input{
        border-radius: .3rem;
        border: 1px solid $Grayish-Blue;
        width: 100%;
        height: 4rem;
        text-indent: 1rem;
        text-transform: capitalize;
        margin: 0 0 1rem 0;

        &::placeholder{
            color: rgba($Dark-Blue, .7);
            font-weight: 600;
        }

        &:focus{
            outline: none;
            border: 1px solid $Blue;
        }

        &--btn{
            width: 100%;
            height: 4rem;
            border-radius: .3rem;
            background-color: $Green;
            cursor: pointer;
            box-shadow: 0rem 0.3rem $Green-shadow;
            color: $White;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            margin: 0 0 1rem 0;
            transition: background-color .2s ease-in-out;

            @include responsive(desktop){

                &:hover{
                    background-color: rgba($Green, 0.7);
                }

            }
        }
    }


    &__description{

        color: rgba($Dark-Blue, .5);
        font-weight: 400;
        font-size: .8rem;
        text-align: center;
        &--anchor{
            font-size: .9rem;
            color: $Red;
            font-weight: 600;
            cursor: pointer;
        }
    }
}