<app-offer></app-offer>

<form class="form" [formGroup]="formLogin">

    <!-- *************** Name *************** -->

    <input class="form__input" type="text" name="name" placeholder="First Name" formControlName="firstName"/>

    <!-- *************** Last Name *************** -->

    <input class="form__input" type="text" name="lastName" placeholder="Last Name" formControlName="lastName"/>

    <!-- *************** Email *************** -->

    <input class="form__input" type="email" name="email" placeholder="Email Address" formControlName="email"/>

    <!-- *************** Password *************** -->

    <input class="form__input" type="password" name="name" placeholder="Password" formControlName="password"/>

    <!-- *************** Btn *************** -->

    <input class="form__input--btn" type="button" value="claim your free trial" (click)="send()" [disabled]="formLogin.invalid"/>

    <p class="form__description">
        By clicking the button, you are agreeing to our
        <a href="#" class="form__description--anchor">Terms and Services</a>
    </p>

</form>